{% load static %}

<footer class="main-footer footer default-section-wrapper">
    <div class="footer__social">
        <h2 class="footer__title social__title">Контакты</h2>
        <div class="footer__contacts contacts">
            <a href="" class="contacts__contact"></a>
            <a href="" class="contacts__contact"></a>
            <a href="" class="contacts__contact"></a>
        </div>
    </div>
    <div class="footer__duaa duaa">
        <h2 class="duaa_ar">فَإِنَّ مَعَ الْعُسْرِ يُسْرًا (٩٤:٥)</h2>
        <h2 class="duaa">Воистину, за каждой тягостью наступает облегчение. (94:5)</h2>
    </div>
    <div class="footer__charity"></div>
</footer>